<div {{ block.shopify_attributes }}>
  {% if product and product.selected_or_first_available_variant %}
    <form method="post" action="/cart/add">
      <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
      <button type="submit">
        {{ 'products.product.add_to_cart' | t }}
      </button>
    </form>
  {% else %}
    <button disabled>{{ 'products.product.sold_out' | t }}</button>
  {% endif %}
</div>

